# {{project_name | replace('_', ' ') | title}}

[![CI](https://github.com/{{repo_username}}/{{repo_name}}/workflows/CI/badge.svg)](https://github.com/{{repo_username}}/{{repo_name}}/actions/workflows/ci.yaml)
{% if not private -%}
[![npm version](https://img.shields.io/npm/v/{{project_name}}.svg)](https://npmjs.com/package/{{package_name}}/)
{% endif -%}
[![code style: prettier](https://img.shields.io/badge/code_style-prettier-ff69b4.svg)](https://github.com/prettier/prettier)

{{project_description}}

## Installation

```sh
npm install {{project_name}}
```

## Usage

```javascript
import {{project_name}} from "{{project_name}}"
// TODO
```

## Links

- [Changelog](https://github.com/{{repo_username}}/{{repo_name}}/releases)
- [Contributing](CONTRIBUTING.md)
